.outer-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.inner-container {
  max-width: 400px;
  width: 100%;
  /* background-color: antiquewhite; */
  height: 100vh;
  margin-top: 15px;
  padding: 5px;
}
